 #starRating i {
        cursor: pointer;
        color: #ddd;
        transition: color 0.2s;
    }

    #starRating i.active,
    #starRating i:hover,
    #starRating i:hover ~ i {
        color: gold;
    }