@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.js-btn {
  border: none; 
  background-color: #eeeeee;
  color: black;
  padding: 8px 12px 8px 12px ;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 20px;
  cursor: pointer;
}
.js-btn:hover{
  background-color: #d8d7d7;
}
.js-btn:active{
  color: #eeeeee;
  background-color: black;
}

.is-subscribed{
  background-color: #eeeeee;
  color: black;
}

.cost-input {
  font-size: 15px;
  padding: 10px;
  border-radius: 10px;
}

.calculate-btn {
  color: white;
  background-color: green;
  border: none;
  padding: 12px;
  cursor: pointer;
  font-size: 16px;
}